/* Banner-Header  */


.imagess{
    width:fit-content;
}
.banner-title{
    position: absolute;
    width: 500px;
    height: 220px;
    left: 885px;
    top: 216px;
    font-size: 55px;
    font-weight: 700;
    text-align: left;
}

.Banner-button{
    position: absolute;
    width: 140px;
    height: 55px;
    left: 1150px;
    top:600px;
    background-color: #fd4c06;
    color: aliceblue;
    border-radius: 5px;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.banner-description{
    position: absolute;
    width: 400px;
    height: 0px;
    left: 890px;
    top: 454px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style:initial ;

    font-weight: 400px;
    font-size: 16px;
    line-height: 26px ;
    text-align: justify;
    padding-top: 20px;
    padding-bottom: 40px;
}

/* Main-section */

.Heading-view{
    margin-top: 80px;
    padding-bottom: 20px;

    width: 290px;
    height: 80px;

    margin-left: 770px;

    font-size: 35px;
    line-height: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;

    color: rgb(35, 36, 37);
    

}

.main-para{

    position: absolute;
    width: 400px;
    height: 150px;
    left: 24px;
    top: 1000px;
    font-size: 16px;
    font-weight: 400;
    left: 780px;
    top: 950;
    color: rgb(35, 36, 37);
    
    

}

.list-para{
    color: #F15B22;
    margin-left: 780px;
    margin-top: 145px;
    color: rgb(76, 85, 85);
}

.Image{
    position: absolute;
    margin-left: 55px;
    top: 750px;

    
}

/* plans */

.plans{
    width: 180px;
    height: 77px;
    right: 800px;
    margin-left:700px;
    font-size: xx-large;
}

.skils-containeer{
    display: flex;
    gap: 30px;
}


.skill-description{
text-align:left;
}

.skils-containeer{
    display: flex;
    gap: 50px;
    


}

.skill{
    background-color: #f8f6f38a;
    box-shadow: 0px 6px 20px rgb(189, 179, 87);
    border-radius: 20px;
    padding: 20px;
    width:fit-content;
    
}
.skill-title{
    font-size: 15px;
    font-weight: 700;
    text-align:centrt;
}
.skill-description{
    text-align: left;
    margin: auto;
}
.section{
    margin-inline: 440px;
}




 /* 
 footer */
    
.footer{
    background-color: black;
}

.footer-head{
    font-size: xx-large;
    color: aliceblue;
    padding: 20px;

}
.Footer-para{
    text-align: justify;
    line-height: 20px;
    width: 150px;
    color: aliceblue;
    padding: 20px;

    
}

.Footerr{
    background-color: rgb(129, 121, 121);
    border-radius: 15px  ;
    margin-left: 1px;
    display: flex;
    gap: 600px;
    padding: 20px
}

.footer-head-two{
    color: rgb(147, 159, 170);
    font-size:xx-large;
}

.email-button{
    padding: 5px;
     
}

.gradient-head{
    text-align: Left;
    padding: 30px;
    font-size: 40px;
    width: 300px;
    margin: 20px;
    color: rgb(14, 12, 12);
}

.gradient-button{
    background-color: #fffffe;
    color: rgb(43, 36, 36);
    width: 70;
    font-weight: 900;
    padding:15px;
    margin-left: 55px;
}
/* Gradient */

.gradient-style{
    height: 300px;
    width: 100%;
    background-image: linear-gradient(to right, rgba(211, 177, 65, 0.918), rgba(180, 202, 180, 0.877));
    border-radius: 1cm;
    margin-top: auto;
    margin-bottom: 20px;
}


.gradient{

position: absolute;
width: auto;
height: 30;
left: 250px;
top: 2050px;

 }
