/* Banner-Header  */

.banner-title{
    position: absolute;
    width: 500px;
    height: 220px;
    left: 885px;
    top: 216px;
    font-size: 55px;
    font-weight: 700;
    text-align: left;
}

.Banner-button{
    position: absolute;
    width: 140px;
    height: 55px;
    left: 1150px;
    top:600px;
    background-color: #F15B22;
    color: aliceblue;
    border-radius: 5px;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.banner-description{
    position: absolute;
    width: 400px;
    height: 0px;
    left: 890px;
    top: 454px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style:initial ;

    font-weight: 400px;
    font-size: 16px;
    line-height: 26px ;
    text-align: justify;
    padding-top: 20px;
    padding-bottom: 40px;
}

/* Main-section */

.Heading-view{
    margin-top: 80px;
    padding-bottom: 20px;

    width: 290px;
    height: 80px;

    margin-left: 770px;

    font-size: 35px;
    line-height: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;

    color: rgb(35, 36, 37);
    

}

.main-para{

    position: absolute;
    width: 400px;
    height: 150px;
    left: 24px;
    top: 1000px;
    font-size: 16px;
    font-weight: 400;
    left: 780px;
    top: 950;
    color: rgb(35, 36, 37);
    
    

}

.list-para{
    color: #F15B22;
    margin-left: 780px;
    margin-top: 145px;
    color: rgb(76, 85, 85);
}

.Image{
    position: absolute;
    margin-left: 55px;
    top: 750px;

    
}

/* plans */

.plans{
    width: 180px;
    height: 77px;
    right: 800px;
    margin-left:700px;
    font-size: xx-large;
    padding: 30px;
}

.skils-containeer{
    display: flex;
    gap: 30px;
}


.skill-title{
font-size: 20px;
font-weight: 700;
text-align: left;
margin-top: 20px;
}

.skill-description{
text-align: justify;
}

.skils-containeer{
    display: flex;
    gap: 40px;
    


}

.skill{
    background-color: #d8d1cb8a;
    box-shadow: 0px 6px 20px rgb(189, 179, 87);
    border-radius: 20px;
    padding: 20px;
    
}
.skill-title{
    font-size: 20px;
    font-weight: 900;
    text-align: left;
}
.skill-description{
    text-align:justify;
}

.section{
    margin-inline: 450px;
}

/* Gradient */


.g-heading{
    font-size: 35px;
    line-height: 60px;
}

.gradient{

    position: absolute;
width: 1140px;
height: 300px;
left: 231px;
top: 2225px; }


.gradient-two{
    position: absolute;
    width: 1140px;
    height: 300px;
    left: 231px;
    top: 2225px;
    background: linear-gradient(90deg, #6d303091 0%, rgba(241, 91, 34, 0) 100%);
border-radius: 8px;
    
 }
    
